<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=SRVGTS\SQLEXPRESS;Initial Catalog=Security;Integrated Security=True" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="GTSDB" connectionString="Data Source=SRVGTS\SQLEXPRESS;Initial Catalog=PROD_TOOLING;Integrated Security=True" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="tenancy" value="toulouse" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="asyncUrl" value="http://172.16.3.128/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>