@{
    ViewBag.Title = "Log in";
}
<div layout="row">
    <div flex="20"></div>
    <div layout="column" flex layout-align="center center">
        <div>
            <ng-md-icon icon="account_circle" size="256" md-colors="{fill: 'orange-800'}"></ng-md-icon>
        </div>
        <div flex>
            <h2>You must log in before using GTS</h2>
        </div>
    </div>
    <div flex="20"></div>
</div>