@{
    ViewBag.Title = "Enter a new password";
}

@if (ViewBag.AllowChange)
{
    <div ng-app="GTS" ng-controller="PassCtrl" data-ng-init="setContentWidth(30);">
        <md-card>
            <md-card-content layout="column">
                <div layout="column" layout-align="center center">
                    <md-icon md-font-set="fa fa-fw fa-key fa-10x"></md-icon>
                </div>
                <div id="errorContainer" class="errorContainer md-padding" style="display: none;" layout="row">
                    <div flex>
                        <ul>
                            <md-item ng-repeat="error in saveResult">
                                <li>{{error}}</li>
                            </md-item>
                        </ul>
                    </div>

                    <md-button ng-click="closeErrorContainer()" class="md-icon-button">
                        <ng-md-icon icon="close" aria-label="Close dialog" md-colors="{fill: 'default-grey-100'}"></ng-md-icon>
                    </md-button>
                </div>
                <div layout="column">
                    <md-input-container>
                        <label>Enter new password</label>
                        <input type="password" ng-model="passwordEntry" />
                    </md-input-container>

                    <md-input-container layout-align="center center">
                        <label>Repeat new password</label>
                        <input type="password" ng-model="passwordEntryRepeated" />
                    </md-input-container>
                </div>
                <md-dialog-actions layout="row" layout-align="center center">
                    <div ng-show="passwordEntry && passwordEntryRepeated && passwordEntry != passwordEntryRepeated" class="animate-show-hide" style="height: 20px !important;" md-colors="{color: 'warn'}">Passwords much match!</div>
                    <span flex></span>
                    <md-button ng-click="savePass(passwordEntry);" style="margin-right:20px;" class="md-raised md-primary" ng-disabled="passwordEntry && passwordEntryRepeated && passwordEntry != passwordEntryRepeated">
                        SAVE
                        <div>
                            <md-progress-linear md-mode="indeterminate" ng-show="isSaving"></md-progress-linear>
                        </div>
                    </md-button>
                </md-dialog-actions>
            </md-card-content>
        </md-card>
    </div>
}
else
{
    <md-card>
        <md-card-content layout="row" layout-align="center center" class="md-padding">
            <ng-md-icon icon="error" size="64" md-colors="{fill: 'warn'}"></ng-md-icon>
            <div>&nbsp;&nbsp;&nbsp;</div>
            <h4 class="md-headline">Invalid token! Keep in mind that password reset tokens expire after 24hrs. To retry, simply request the password change again after clicking the login link / button. If, for any reason, you've initiated the password change request multiple times, try using the most recent email.</h4>
        </md-card-content>
    </md-card>
}

<script>

    app.controller('PassCtrl', ['$scope', '$http', '$mdDialog', '$mdMedia', '$mdToast', '$location', '$q', 'passwordService',
        function ($scope, $http, $mdDialog, $mdMedia, $mdToast, $location, $q, passwordService) {
            $scope.savePass = function (newPass) {
                var token = window.location.toString().split("/")[window.location.toString().split("/").length - 1]
                if (token.length != 36) {
                    token = "00000000-0000-0000-0000-000000000000";
                }
                passwordService.changePassword(newPass, token).then(function (response) {
                    showToast("Password changed.", $mdToast);
                    sleep(2000).then(() => {
                        window.location.href = "/";
                    });
                }, function (err) {
                    showError(err);
                });
            };

        }]);

    app.service("passwordService", function ($http) {
        // make admin call
        this.changePassword = function (newPass, token) {
            var response = $http
            ({
                method: "post",
                url: "/Account/ResetPasswordJson/",
                data: { newPassword: newPass, token: token },
                dataType: "json"
            });
            return response;
        };
    });
</script>